body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:relative;
  left:-168px;
  width:692px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u544 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u545_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:692px;
  height:491px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:8px 5px 5px rgba(134, 134, 134, 0.349019607843137);
  -webkit-box-shadow:8px 5px 5px rgba(134, 134, 134, 0.349019607843137);
  box-shadow:8px 5px 5px rgba(134, 134, 134, 0.349019607843137);
}
#u545 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:175px;
  width:692px;
  height:491px;
}
#u545_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u546_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u546 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:206px;
  width:132px;
  height:66px;
  font-size:28px;
}
#u546_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u547_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u547 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:251px;
  width:348px;
  height:21px;
}
#u547_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  word-wrap:break-word;
}
#u548_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  height:53px;
  background:inherit;
  background-color:rgba(102, 102, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:underline;
  color:#FFFFFF;
}
#u548 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:443px;
  width:462px;
  height:53px;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:underline;
  color:#FFFFFF;
}
#u548_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:458px;
  word-wrap:break-word;
}
#u549 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:308px;
  width:462px;
  height:27px;
}
#u549_input {
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u550 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:388px;
  width:0px;
  height:0px;
}
#u550_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:6px;
}
#u550_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-2px;
  width:401px;
  height:8px;
}
#u550_text {
  border-width:0px;
  position:absolute;
  left:148px;
  top:-6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u551_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00CC99;
}
#u551 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:291px;
  width:119px;
  height:16px;
  color:#00CC99;
}
#u551_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u552_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00CC99;
}
#u552 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:359px;
  width:62px;
  height:16px;
  color:#00CC99;
}
#u552_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u553 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:372px;
  width:462px;
  height:27px;
}
#u553_input {
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#868686;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u554 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:326px;
  width:0px;
  height:0px;
}
#u554_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:6px;
}
#u554_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-2px;
  width:401px;
  height:8px;
}
#u554_text {
  border-width:0px;
  position:absolute;
  left:148px;
  top:-6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u555_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:567px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u555 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:585px;
  width:567px;
  height:81px;
  font-size:20px;
}
#u555_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:567px;
  word-wrap:break-word;
}
#u556_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u556 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:612px;
  width:156px;
  height:36px;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u556_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:152px;
  word-wrap:break-word;
}
#u557_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(54, 166, 113, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u557 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:102px;
  width:140px;
  height:40px;
}
#u557_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
